

<h1> {{type}} Request Received on Howard Chen's Setup Page</h1>

<form action="/" method="post">
	<label for="name">Your Name:</label>
	<input id="name" type="text" name="name">
	<label for="limit">Your Limit:</label>
	<input id="limit" type="text" name="limit">
	<input type ="submit" name="New Counter">
</form>
{{{script}}}
